* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: white;
  top: 0;
  color: black;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.main {
  margin-top: 70px;
}

.container {
  width: 100%;
  padding: 15px 0;
}

.top-header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-logo {
  margin-right: 30px;
}

.left-part {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-part {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-inizia {
  background-color: #0061ff;
  color: white;
  padding: 5px 10px;
}

.btn-inizia:hover {
  background-color: #0441a5;
  color: white;
  padding: 5px 10px;
}

/* top-container */
.top-content-container {
  width: 100%;
  height: 1200px;
  background-color:
    #B4D0E6;
  margin: 0 auto;
  margin-bottom: 100px;
}

.context-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 90px;
}

.context-container h1 {
  font-size: 100px;
}


.body-context {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 90px;
  gap: 40px;

}

.left .left-body {
  font-size: 25px;
}

.prova {
  font-size: 22px;
  background-color: #0061ff;
  padding: 10px 15px;
  border: 1px black;
  color: white;
}


.right img {
  width: 1200px;
}

.transparent-hr {
  opacity: 0.1;
}

/*pricing container*/
.pricing {
  background-color: white;
  padding: 4rem 2rem;
}

.piano-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.second-title {
  font-size: larger;
  padding-bottom: 2rem;
}

.billing-toggle {
  padding-bottom: 2rem;
}

.piani {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.piano {
  flex: 30%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

ul {
  list-style: none;
}