* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  top: 0;
  color: black;
  padding: 15px 20px;
  z-index: 1;
}

.container {
  width: 100%;
  padding: 15px 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-logo {
  margin-right: 30px;
}

.left-part {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-part {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bg-blue-icon {
  background-color: #0061FE;
  color: white;
  padding: 5px 10px;
}

/* top-container */
.top-content-container {
  width: 100%;
  height: 1200px;
  background-color:
    #B4D0E6;
  margin: 0 auto;
  margin-bottom: 100px;
}

.context-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 90px;
}

.context-container h1 {
  font-size: 100px;
}


.body-context {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 90px;
  gap: 40px;

}

.left .left-body {
  font-size: 25px;

}


.right img {
  width: 1200px;
}

.transparent-hr {
  opacity: 0.1;
}

/*Piano container*/
.piano-container {
  max-width: 1200px;
  margin: 0 auto;
}

.second-title {
  padding: 100px;
}

.piano {
  flex: 30%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}